@keyframes show-toast{
    0% {top: -100%}
    20% {top: 100px}
    80% {top: 100px}
    100% {top: -100%}
}

.show-notification{
    position: fixed;
    top: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;
}